*{
    box-sizing: border-box;
}
html{
    -webkit-text-size-adjust: 100%;
}
body{
    background-color: #ffffff;
    position: relative;
    font-size: 17px;
    color: #242424;
    line-height: 1.42;
    margin: 0px;
    font-family: "Poppins", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.head-font{
    /* font-family: "Roboto Serif", serif; */
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
a.nonlinkable,.nonlinkable,.nonlinkable a{
    text-decoration: none;
}
.nonlinkable:hover,a.nonlinkable:hover,.nonlinkable a:hover{
    text-decoration: none;
}